<%= form_tag '/login', html: {class: "login-form"}  do %>

<div class="field">
  <%= label_tag :email %>
  <%= email_field_tag :email, nil, class: 'form-control', placeholder: 'Email@example.com' %>
</div>
<br>
<div class="field">
  <%= label_tag :password %>
  <%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Password' %>
</div>
<br>
<%= submit_tag "Login", class: 'btn btn-default' %>
<% end %>
