<%= form_for(startup) do |f| %>
  <% if startup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(startup.errors.count, "error") %> prohibited this startup from being saved:</h2>

      <ul>
      <% startup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
  </div>

  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website, class: 'form-control', placeholder: 'Website' %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control', placeholder: 'Address' %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Description' %>
  </div>

  <div class="field">
    <%= f.label :founded_date %>
    <!-- <%= f.date_select :founded_date, class: 'form-control', placeholder: 'Founded Date' %> -->
    <%= f.date_field(:founded_date, class:"form-control") %>
    <!-- <input type="date" name="name" value=""> -->
  </div>


  <div>
    <input class="purple-button" type="submit" value="create new startup">
  </div>

<!-- <% end %> -->
