<div class="row space">
  <div class="col-xs-12 white-font table-bg">
    <p id="notice"><%= notice %></p>

    <h1> List of Startups in South Florida </h1>
    <%= will_paginate @startups, class:"pagination"%>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Website</th>
          <th>Address</th>
          <th>Description</th>
          <th>Founded date</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @startups.each do |startup| %>
          <tr>
            <td><%= startup.name %></td>
            <td><%= startup.email %></td>
            <td><%= startup.website[0..15] %></td>
            <td><%= startup.address %></td>
            <td><%= startup.description[0..50]%>...</td>
            <td><%= startup.founded_date %></td>
            <td><%= link_to 'Learn More', startup %></td>
            <% if @user.admin %>
            <td><%= link_to 'Delete', startup_path(startup), method:'delete' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-offset-5">
    <%= button_to 'Add Startup', new_startup_path, method:'get', class: 'purple-button'  %>
  </div>
</div>

<%= will_paginate @startups, class:"pagination"%>
