<p id="notice"><%= notice %></p>

<h1> List of Startups in South Florida </h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Website</th>
      <th>Address</th>
      <th>Description</th>
      <th>Founded date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @startups.each do |startup| %>
      <tr>
        <td><%= startup.name %></td>
        <td><%= startup.email %></td>
        <td><%= startup.website %></td>
        <td><%= startup.address %></td>
        <td><%= startup.description[0..100]%>...</td>
        <td><%= startup.founded_date %></td>
        <td><%= link_to 'Learn More', startup %></td>
      </tr>
    <% end %>
    <td><%= button_to 'Add a new startup', new_startup_path, method:'get' %></td>
  </tbody>
</table>
