<div class="row">
  <div class="col-xs-12 centered profile">

    <div class="row show-height">
      <div class="col-md-4 profile-column">
        <img class="img-responsive img" src="http://placehold.it/300x300" />
        <p class="padding">
          <strong>Name:</strong>&nbsp&nbsp&nbsp
          <%= @startup.name %>
        </p>
      </div>
      <div class="col-md-8 profile-column">
        <p>
          <strong>Email:</strong>&nbsp&nbsp&nbsp
          <%= @startup.email %>
        </p>
        <p>
          <strong>Website:</strong>&nbsp&nbsp&nbsp
          <%= @startup.website %>
        </p>
        <p>
          <strong>Address:</strong>&nbsp&nbsp&nbsp
          <%= @startup.address %>
        </p>
        <p>
          <strong>Founded date:</strong>&nbsp&nbsp&nbsp
          <%= @startup.founded_date %>
        </p>
        <p>
          <strong>Number of employees:</strong>&nbsp&nbsp&nbsp
          10-50
        </p>
        <p>
          <strong>Total Funding:</strong>&nbsp&nbsp&nbsp
          10,000
        </p>
      </div>
    </div>
    <div class="row show-height">
      <div class="col-md-8 profile-column">
        <p>
          <strong>Description</strong>&nbsp&nbsp&nbsp
          <%= @startup.description %>
        </p>
      </div>
      <div class="col-md-4 profile-column">
        <div class="col-xs-12 col-md-4 extra">
          <a href="mailto:#{<%= @startup.email %>}" target="_top" class="btn btn-default">Contact</a>
        </div>
        <hr>
        <div class="col-xs-12 extra">
          <img class="img img-responsive" src="facebook.jpg" alt="facebook" width="20"/>
          <img class="img img-responsive" src="twitter.jpg" alt="twitter" width="20"/>
          <img class="img img-responsive" src="linkedin.png" alt="linkedin" width="20"/>
        </div>
        <hr>
        <div class="col-xs-12 extra">
          <%= link_to 'Back to Map', root_path, class: "purple-button" %>
        </div>
      </div>
    </div>
<p id="notice"><%= notice %></p>


<div>
  <%= link_to 'Edit', edit_startup_path(@startup), class: "purple-button" %>
  <%= link_to 'Back', startups_path, class: "purple-button" %>
  <%= link_to 'Add a new startup', new_startup_path(@startup), class: "purple-button" %>
</div>

</div>
