<div class="row space">
  <div class="col-xs-12 white-font dark-bg">

    <h3 class="approve-investors"> List of investors to be approved: </h3>
      <table class="table">
        <thead>
          <tr>
            <th class="admin-page-fields">Name</th>
            <th class="admin-page-fields">Email</th>
            <th class="admin-page-fields">Website</th>
            <th class="admin-page-fields">Address</th>
            <th class="admin-page-fields">Description</th>
            <th class="admin-page-fields">Founded Date</th>
            <th colspan="1"></th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @investors.each do |investor| %>
          <tr>
            <td class="admin-page-fields"><%= investor.name %></td>
            <td class="admin-page-fields"><%= investor.email %></td>
            <td class="admin-page-fields"><%= investor.website %></td>
            <td class="admin-page-fields"><%= investor.address %></td>
            <td class="admin-page-fields"><%= investor.description %></td>
            <td class="admin-page-fields"><%= investor.founded_date %></td>
            <td class="admin-page-fields"><%= button_to 'Edit', edit_investor_path(investor), method:'get', class: "purple-button" %></td>
            <td><%= button_to 'Approve', investor_approve_path(investor), method:'patch', class: "purple-button" %></td>
            <td><%= button_to 'Delete', investor_path(investor), method:'delete', class: "purple-button" %></td>
          </tr>
          <%end%>
        </tbody>
    </table>
  </div>
</div>

<div class="row space">
  <div class="col-xs-12 white-font dark-bg">
    <h3 class="approve-startups"> List of startups to be approved: </h3>
      <table class="table">
        <thead>
          <tr>
            <th class="admin-page-fields">Name</th>
            <th class="admin-page-fields">Email</th>
            <th class="admin-page-fields">Website</th>
            <th class="admin-page-fields">Address</th>
            <th class="admin-page-fields">Description</th>
            <th class="admin-page-fields">Founded Date</th>
            <th colspan="1"></th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% @startups.each do |startup| %>
          <tr>
            <td class="admin-page-fields"><%= startup.name %></td>
            <td class="admin-page-fields"><%= startup.email %></td>
            <td class="admin-page-fields"><%= startup.website %></td>
            <td class="admin-page-fields"><%= startup.address %></td>
            <td class="admin-page-fields"><%= startup.description %></td>
            <td class="admin-page-fields"><%= startup.founded_date %></td>
            <td><%= button_to 'Edit', edit_startup_path(startup), method: 'get', class: "purple-button" %></td>
            <td><%= button_to 'Approve', startup_approve_path(startup), method:'patch', class: "purple-button" %></td>
            <td><%= button_to 'Delete', startup_path(startup), method:'delete', class: "purple-button" %></td>
          </tr>
          <%end%>
        </tbody>
      </table>
  </div>
</div>

<div class="row space">
  <div class="col-xs-12 white-font dark-bg">
    <h3 class="approve-users"> List of users to be approved: </h3>
      <table class="table">
        <thead>
          <tr>
            <th class="admin-page-fields">Name</th>
            <th class="admin-page-fields">Email</th>
            <th colspan="1"></th>
            <th colspan="1"></th>
            <th colspan="1"></th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td class="admin-page-fields"><%= user.name %></td>
            <td class="admin-page-fields"><%= user.email %></td>
            <td><%= button_to 'Edit', edit_user_path(user), method: 'get', class: "purple-button" %></td>
            <td><%= button_to 'Approve', user_approve_path(user), method:'patch', class: "purple-button" %></td>
            <td><%= button_to 'Delete', user_path(user), method:'delete', class: "purple-button" %></td>
          </tr>
          <%end%>
        </tbody>
      </table>
  </div>
</div>
