div class="row">

	<div class="col-xs-3 col-md-3 hidden" id="sidebar">

		<h2 id="title">SoFla StartUp Ecosystem</h2>
		<p class="lead">Information about South Florida Startups, Investors and all components of the ecosystem. Select bellow the information to show and then locate in the map to access the details..</p>



		<h4 id="vertical" data-investors-verticals='<%= @coords  %>'>Vertical:</h4>
		<%#= form_tag('/vertical-search', method: :get) do %>
			<%#= select_tag(:vertical, options_for_select(Investor.verticals), id: 'filter', class: "form-control") %>

	<ul class="collapsible" data-collapsible="expandable">

		<li>
			<div class="collapsible-header">
				Filter by Type of Entity
			</div>
			<div class="collapsible-body">
				<% ["All","Investor", "StartUp"].each do |entity| %>
					<input type="checkbox" data-category="entity" name="<%= entity %>" id="<%= entity%>" value="<%= entity %>" class="js-filter-box">
					<label for="<%= entity %>"> <%= entity %> </label>
				<% end %>
			</div>
		</li>

		<li>
			<div class="collapsible-header">
				Filter by Vertical
			</div>
			<div class="collapsible-body">
				<% Investor.verticals.keys.each do |vertical| %>
					<input type="checkbox" data-category="vertical" name="<%= vertical %>" id="<%= vertical%>" value="<%= vertical %>" class="js-filter-box">
					<label for="<%= vertical %>"> <%= vertical %> </label>
				<% end %>
			</div>
		</li>

		<li>
			<div class="collapsible-header">
				Filter by Stage
			</div>
			<div class="collapsible-body">
				<% ["All","Stage 1", "Stage 2", "Stage 3", "Stage 4"].each do |stage| %>
					<input type="checkbox" data-category="stage" name="<%= stage %>" id="<%= stage%>" value="<%= stage %>" class="js-filter-box">
					<label for="<%= stage %>"> <%= stage %> </label>
				<% end %>
			</div>
		</li>

		<li>
			<div class="collapsible-header">
				Filter by Founding date
			</div>
			<div class="collapsible-body">
				<% ["All","2012-Present", "2007-2011", "2002-2006"].each do |founded| %>
					<input type="checkbox" data-category="stage" name="<%= founded %>" id="<%= founded%>" value="<%= founded %>" class="js-filter-box">
					<label for="<%= founded %>"> <%= founded %> </label>
				<% end %>
			</div>
		</li>

		<li>
			<div class="collapsible-header">
				Filter by Investor Type
			</div>
			<div class="collapsible-body">
				<% ["All","Angel Investor", "Venture Capitalist", "Peer-to-Peer Lending"].each do |founded| %>
					<input type="checkbox" data-category="stage" name="<%= founded %>" id="<%= founded%>" value="<%= founded %>" class="js-filter-box">
					<label for="<%= founded %>"> <%= founded %> </label>
				<% end %>
			</div>
		</li>



	</ul>


		<!-- <hr>
		<h3>Startups filters</h3>
		<h4>Stage:</h4> -->
		<%#= select_tag(:stage, options_for_select(["All","Stage 1", "Stage 2", "Stage 3", "Stage 4"]), class: "form-control") %>


	<hr>
	<h3>Investors filters</h3>

	<br>
	<%#= submit_tag 'Submit', class: "btn btn-primary" %>
	<%# end %>
		<hr>

		<div >
			<h1>Search</h1>
			<%= form_tag("/search", method: "get") do %>
			<%= search_field_tag :term %>
			<%= submit_tag "Go!" %>
			<% end %>
			<%= params[:term] %>
		</div>
	</div>
</div>

<!-- an empty div for the map -->

<div data-investors="<%= @investors %>" data-startups="<%= @startups %>" id="map-data" class="col-xs-9 col-md-8">
	<div id="map-canvas"></div>
</div>

</div>
