<div class="row" id="page-index-row">
	<!--Filters-->
	<div class="col-md-3 hidden" id="sidebar">
		<!--Description-->
		<h1 id="title">SoFla StartUp Ecosystem</h1>
		<p class="lead">We'll help you locate and get information about South Florida Startups, Investors and all components of the ecosystem. Please select the filters of the information you would like us to display and press Search...</p>

		<h1>Startups</h1>

		<div id="checkboxSt" class="checkbox">
			<label>
				<input type="checkbox" value="">
				Startups
			</label>
		</div>

		<h4 id="vertical" data-investors-verticals='<%= @coords  %>'>Industry Vertical:</h4>
		<%= form_tag('/vertical-search', method: :get) do %>
		<%= select_tag(:vertical, options_for_select(Investor.verticals), id: 'filter', class: 'form-control') %>

		<h4 class="white-font">Stage:</h4>
		<%= select_tag(:stage, options_for_select(["All", "Stage 1", "Stage 2", "Stage 3", "Stage 4", "Stage 5"]), class: 'form-control') %>

		<h4 class="white-font">Founded Date:</h4>
		<%= select_tag(:founded_date, options_for_select(["--", "2012-Present", "2007-2011", "2002-2006", "1997-2001", "1996"]), class: 'form-control') %>

		<% end %>

		<h1>Investor</h1>

		<h4 id="vertical" data-investors-verticals='<%= @coords  %>'>Industry Vertical:</h4>
		<%= form_tag('/vertical-search', method: :get) do %>
		<%= select_tag(:vertical, options_for_select(Investor.verticals), id: 'filter', class: "form-control") %>

		<h4>Investor Type:</h4>
		<%= select_tag(:investorType, options_for_select([ "All", "Angel Investor", "Venture Capitalist", "Peer-to-Peer Lending"]), class: "form-control") %>
		<br>
		<%= submit_tag 'Submit', class: "btn btn-primary" %>

		<% end %>


		<!--Searchbox-->
		<div class="row">
			<div class="col-sm-12">
			<%= form_tag("/search", method: "get", class: 'input-large') do %>
  			<%= search_field_tag :term %>
  			<%= submit_tag "Go!" %>
			<% end %>
			<%= params[:term] %>
			</div>
		</div>

	</div>


<!-- an empty div for the map -->

	<div data-investors="<%= @investors %>" data-startups="<%= @startups %>" id="map-data" class= "col-md-9">
		<div id="map-canvas"></div>
	</div>


</div>

<!-- <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdZwnofi--Pt9bxvMeVpRw0SqNdKyvpAM&v=3&callback=initMap">
</script> -->
