<p id="notice"><%= notice %></p>

<h1>Startups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Website</th>
      <th>Address</th>
      <th>Description</th>
      <th>Founded date</th>
      <th>Approval</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @startups.each do |startup| %>
      <tr>
        <td><%= startup.name %></td>
        <td><%= startup.email %></td>
        <td><%= startup.website %></td>
        <td><%= startup.address %></td>
        <td><%= startup.description %></td>
        <td><%= startup.founded_date %></td>
        <td><%= startup.approval %></td>
        <td><%= link_to 'Show', startup %></td>
        <td><%= link_to 'Edit', edit_startup_path(startup) %></td>
        <td><%= link_to 'Destroy', startup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Startup', new_startup_path %>
