<div class="row">
  <div class="col-xs-12 white-font table-border">
    <p id="notice"><%= notice %></p>

    <h1> List of Investors in South Florida</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Website</th>
          <th>Address</th>
          <th>Description</th>
          <th>Founded date</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @investors.each do |investor| %>
          <tr>
            <td><%= investor.name %></td>
            <td><%= investor.email %></td>
            <td><%= investor.website %></td>
            <td><%= investor.address %></td>
            <td><%= investor.description[0..50]%>...</td>
            <td><%= investor.founded_date %></td>
            <td><%= link_to 'Learn More', investor %></td>
            <% if @user.admin %>
            <td><%= link_to 'Delete', investor_path(investor), method:'delete' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-offset-5">
    <%= button_to 'Add a new investor', new_investor_path, method:'get', class: 'purple-button' %>
  </div>
</div>
