<p id="notice"><%= notice %></p>

<h1> List of Investors in South Florida</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Website</th>
      <th>Address</th>
      <th>Description</th>
      <th>Founded date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investors.each do |investor| %>
      <tr>
        <td><%= investor.name %></td>
        <td><%= investor.email %></td>
        <td><%= investor.website %></td>
        <td><%= investor.address %></td>
        <td><%= investor.description %></td>
        <td><%= investor.founded_date %></td>
         <td><%= link_to 'Learn More', investor %></td>
      </tr>
    <% end %>
  </tbody>
</table>

