<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @investor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @investor.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @investor.website %>
</p>

<p>
  <strong>Address:</strong>
  <%= @investor.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @investor.description %>
</p>

<p>
  <strong>Founded date:</strong>
  <%= @investor.founded_date %>
</p>

<p>
  <strong>Approval:</strong>
  <%= @investor.approval %>
</p>

<%= link_to 'Edit', edit_investor_path(@investor) %> |
<%= link_to 'Back', investors_path %>
