<div class="row">
  <div class="col-xs-12 centered profile">

    <div class="row show-height">
      <div class="col-md-4 profile-column">
        <img class="img-responsive img" src="http://placehold.it/300x300" />
        <p class="padding">
          <strong>Investor Name: </strong>&nbsp&nbsp&nbsp
          <%= @investor.name %>
        </p>
      </div>
      <div class="col-md-8 profile-column">
        <p>
          <strong>Email:</strong>&nbsp&nbsp&nbsp
          <%= @investor.email %>
        </p>

        <p>
          <strong>Website:</strong>&nbsp&nbsp&nbsp
          <%= @investor.website %>
        </p>

        <p>
          <strong>Address:</strong>&nbsp&nbsp&nbsp
          <%= @investor.address %>
        </p>
        <p>
          <strong>Founded date:</strong>&nbsp&nbsp&nbsp
          <%= @investor.founded_date %>
        </p>
        <p>
          <strong>Number of employees:</strong>&nbsp&nbsp&nbsp
          100-500
        </p>
        <p>
          <strong>Total Funding:</strong>&nbsp&nbsp&nbsp
          5,000,000
        </p>
      </div>
    </div>
    <div class="row show-height">
      <div class="col-md-8 profile-column">
        <p>
          <strong>Description:</strong>&nbsp&nbsp&nbsp
          <%= @investor.description %>
        </p>
      </div>
      <div class="col-md-4 profile-column">

        <div class="col-xs-12 extra">
          <a href="mailto:#{<%= @investor.email %>}" target="_top" class="btn btn-default purple-button">Contact</a>
        </div>


        <div class="col-xs-12 extra">
          <%= image_tag("facebook.png", class: "smedia img-responsive", width: "40") %>
          <%= image_tag("twitter.png", class: "smedia img-responsive", width: "40") %>
          <%= image_tag("linkedin.png", class: "smedia img-responsive", width: "40") %>
        </div>



        <div class="col-xs-12 extra">
          <%= link_to 'Back to Map', root_path, class: "purple-button" %>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= link_to 'Edit', edit_investor_path(@investor), class: "purple-button" %>
        <%= link_to 'Back', investors_path, class: "purple-button" %>
        <%= link_to 'Add a new investor', new_investor_path(@investor), class: "purple-button" %>
      </div>
    </div>

      <p id="notice new-investor-form"><%= notice %></p>
