    <div class="row show-height profile space">
      <div class="col-md-4 profile-column">
        <img class="img-responsive img" src="http://placehold.it/300x300" />
      </div>
      <div class="col-md-8 profile-column">
        <p>
          <strong> Investor Name: </strong>
          <%= @investor.name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @investor.email %>
        </p>

        <p>
          <strong>Website:</strong>
          <%= @investor.website %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @investor.address %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @investor.description %>
        </p>
      </div>
    </div>
    <div class="row show-height space">
      <div class="col-md-8 profile-column">
        <p>
          <strong>Founded date:</strong>
          <%= @investor.founded_date %>
        </p>
        <p>
          <strong>Number of employees:</strong>
        </p>
        <p>
          <strong>Total Funding:</strong>
        </p>
      </div>
      <div class="col-md-4 profile-column">
        <a href="mailto:#{<%= @investor.email %>}" target="_top" class="btn btn-default">Contact</a>
        <hr>
        <img class="smedia" src="facebook.jpg" alt="facebook"/>
        <img class="smedia" src="twitter.jpg" alt="twitter"/>
        <img class="smedia" src="linkedin.png" alt="linkedin" width="30" height="30">
        <hr>
        <%= link_to 'Back to Map', root_path, class: "purple-button" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= link_to 'Edit', edit_investor_path(@investor), class: "purple-button" %>
        <%= link_to 'Back', investors_path, class: "purple-button" %>
        <%= link_to 'Add a new investor', new_investor_path(@investor), class: "purple-button" %>
      </div>
    </div>

      <p id="notice new-investor-form"><%= notice %></p>
