<!DOCTYPE html>
<html>

  <head>
    <title>MiamiMade</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPKEY'] %>&callback=initMap"
    async defer></script>
  </head>

  <body>
    <header>
      <nav id="nav" class="navbar navbar-static-top navbar-inverse">
        <div class="container-fluid">
          <div class="row">
            <%= link_to image_tag("Miami_made_full_white.png", border: 0, width: "150px"), '/', id: "logo", class: "navbar-brand" %>
              <ul>
                <% if current_user %>
                  <li class="nav-links"><%= link_to 'STARTUPS', startups_path %></li>
                  <li class="nav-links"><%= link_to 'INVESTORS', investors_path %></li>
                  <li>Signed in as <%= current_user.name %></li>
                  <li><%= link_to "LOGOUT", logout_path %></li>
                  <% else %>
                  <li class="nav-links"><%= link_to 'STARTUPS', startups_path %></li>
                  <li class="nav-links"><%= link_to 'INVESTORS', investors_path %></li>
                  <!-- Button trigger modal -->
                  <li class="nav-links"><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#reg-login-modal">Register/Login</button></li>
          	    <% end %>
              </ul>
            </div>
          </div>
        </nav>


      <!-- Modal -->
      <div class="modal fade" id="reg-login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Login/Registration</h4>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                <!--tab titles-->
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#register-tab" data-toggle="tab">Register</a></li>
                  <li><a href="#login-tab" data-toggle="tab">Login</a></li>
                </ul>
                <!-- tab content -->
                <div class="tab-content">
                  <div class="tab-pane active col-xs-6" id="register-tab">
                    <%= render 'users/form', user: @user %>
                  </div>
                  <div class="tab-pane col-xs-6" id="login-tab">
                    <%= render 'sessions/form' %>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary register-button">Register</button>
            </div>
          </div>
        </div>
      </div>

    </header>

    <main>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>

    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <p>A project by <a href="#">Victoria Cartagena, N. Alejandra Estevez, Andres Duarte</a>.</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
