<!DOCTYPE html>
<html>
  <head>
    <title>MiamiMade</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPKEY'] %>"
    async defer></script>
  </head>

  <body>
    <!-- <% if current_user %>
       Signed in as <%= current_user.name %> | <%= link_to "Logout", logout_path %>
       <% else %>
       <%= link_to 'Login', login_path %> | <%= link_to 'Register',register_path %>
    <% end %> -->
    <header class="navbar">
      <div class="container-fluid">
        <%= link_to "Miami Made", '#', id: "logo" %>
        <nav id="nav">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Register", register_path %></li>
            <li><%= link_to "Login", login_path %></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          scrollwheel: false,
          zoom: 8
        });
      }

    </script>
  </body>
</html>
